
.play {
    border: 3px solid black;
    position: absolute;
    width: 100vw;
    height: 100vh;
    align-items: center;
    display: none;
    z-index: 1;
}

.play-header {
    border: 3px solid black;
    position: absolute;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 75px;
    background-color: pink;
}

.timer {
    border: 3px solid black;
    position: flex;
    height: 100%;
    width: 5%;
    margin: auto;
    left: auto;
    right: auto;
    background-color: red;
    font-size: 100px;
}

.play-pause-button {
    border: 2px solid black;
    position: absolute;
    right: 10%;
    width: 5%; 
    height: 50%;
    background-color: blue;
    font-size: 50px;
    color: white;
    top: 25px;
}

.play-pause-button:hover {
    opacity: 0.6;
}

.play-pause-button:active {
    opacity: 0.3;
}

.play-page {
    border: 3px solid black;
    position: absolute;
    margin: 0;
    top: 10%;
    width: 100%;
    height: 90%;
    background-color: green;
    display: flex;
    align-items: center;
}

.game-canvas {
    aspect-ratio: 1 / 1;
    display: block;
    height: 90%;
    margin: auto;
    background: black;
}